<h3 class="ui header x-title"></h3>
<table class="ui selectable celled table">
  <thead>
    <tr>
      <th><%= _('#') %></th>
      <th><%= _('Time') %></th>
      <th><%= _('Hash') %></th>
      <th><%= _('Type') %></th>
      <th><%= _('Address') %></th>
      <th><%= _('Data') %></th>
      <th><%= _('Status') %></th>
    </tr>
  </thead>
</table>
<%_ script.create('JQuery')
  .useDependencies('SemanticUI/Loader')
  .addMiddle(`
$.activity = $.loader($('div[data-tab="activity"] table'), {
    url: '${route('Term', {name: 'activity-page', page: 'PAGE'})}',
    formatRow: function(item) {
        return $('<tr><td>' + item.nr + '</td>' +
            '<td>' + item.time + '</td>' +
            '<td>' + item.hash.substr(0, 8) + '</td>' +
            '<td class="ui center aligned">' + this.icon(item.type) + '</td>' +
            '<td>' + (item.address ? item.address : '') +
                (item.origin ? '<div><div class="ui mini grey label"><i class="phone icon"></i>' + item.origin + '</div></div>' : '') + '</td>' +
            '<td>' + (item.data ? item.data : '') + '</td>' +
            '<td>' + this.formatStatus(item.status) + '</td>' +
            '</tr>');
    }
});
$.activity.formatStatus = function(status) {
    switch (status) {
        case 0:
            return '<i class="red times icon"></i>';
        case 1:
            return '<i class="green check icon"></i>';
    }
}
`)
  .addLast(`
$.activity.load();
`) -%>
