<div class="ui stackable top attached tabular menu">
  <a class="active item" data-tab="activity"><%= _('Activity') %></a>
  <a class="item" data-tab="log"><%= _('Logs') %></a>
  <a class="item" data-tab="client"><%= _('Clients') %> <span class="ui tiny label">0</span></a>
  <%_ if ((terms = term.getTerminals(true)) && terms.length) { -%>
  <a class="item" data-tab="port"><%= _('Ports') %> <span class="ui tiny label"><%= terms.length %></span></a>
  <%_ } -%>
</div>
<div class="ui bottom attached active tab segment" data-tab="activity">
<%- include('activity') -%>
</div>
<div class="ui bottom attached tab segment" data-tab="log">
<%- include('log') -%>
</div>
<div class="ui bottom attached tab segment" data-tab="client">
<%- include('client') -%>
</div>
<%- include('termhandler') -%>
<%_ if (terms.length) { -%>
<div class="ui bottom attached tab segment" data-tab="port">
<%- include('term') -%>
</div>
<%_ } -%>
<%_ script.create('JQuery')
  .useDependencies(['SocketIO'])
  .addMiddle(`
$.uiCon = {
    connected: false,
    data: ${s(socket, 1)},
    init: function() {
        const self = this;
        self.socket = io.connect(self.data.url, self.data.options);
        self.socket.on('connect', function() {
            self.connected = true;
            console.log('Socket connected');
        });
        self.socket.on('disconnect', function() {
            self.connected = false;
            console.log('Socket disconnected');
        });
        self.socket.on('log', function(data) {
            $.term.addLog(data.term, data);
        });
        self.socket.on('activity', function(data) {
            $.log.add(data);
        });
        self.socket.on('client', function(type) {
            $.client.load();
        });
        self.socket.on('new-activity', function(type) {
            $.activity.load();
        });
        self.socket.on('new-terminal', function() {
            window.location.reload();
        });
    }
}
`)
  .addLast(`
$('.menu .item').tab();
$.uiCon.init();
`) -%>
