<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<title><%- sitetitle %></title>
<%_ stylesheets().forEach(css => { -%>
<link rel="stylesheet" href="<%- path(css) %>" />
<%_ }) -%>
<%_ if (mainmenu = slot('mainmenu')) { -%>
<%_ mainmenu = include(mainmenu) -%>
<%_ } -%>
</head>
<body<% if (mainmenu) { %> class="with-menu"<% } %>>
  <%_ if (mainmenu) { -%>
  <section class="ui fixed inverted menu">
  <%- mainmenu -%>
  </section>
  <%_ } -%>
  <main class="ui container">
    <%_ if (title.length) { -%>
    <h1 class="ui dividing header"><%= title %></h1>
    <%_ } -%>
    <%- content -%>
  </main>
  <%_ if ((addons = slot('addons')) && (addons = include(addons))) { -%>
  <%- addons -%>
  <%_ } -%>
  <%_ javascripts().forEach(js => { -%>
  <script type="text/javascript" src="<%- path(js) %>"></script>
  <%_ }) -%>
  <%_ if ((scriptContent = scripts()).length) { -%>
  <script type="text/javascript">
    // <![CDATA[
    <%- scriptContent %>
    // ]]>
  </script>
  <%_ } -%>
</body>
</html>
